body {
  margin: 0;
  padding: 0;
  background-image: url("C:/Users/SAKSHI/OneDrive/Desktop/ev/ev-charger-locator/public/assets/ev-charger.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end; /* Move everything towards the right */
  color: white;
  font-family: Arial, sans-serif;
  padding-right: 50px; /* Adjust this value to move it further */
}

.container {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: left;
}

.image-section {
  flex: 1;
}

.image-section .ev-image {
  width: 300px;
  max-width: 500px;
}

.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text towards the right */
  margin-top: 100px;
  margin-right: 1
  00px;
}

.text-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
  align-items: top;
  
}
.text-section p{
  font-weight: bold;
  align-items: top;
  margin-left: 100px;
}

.search-box {
  margin-top: -3px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  padding: 5px;
  margin-left: 40px;

}

.search-box input {
  border: none;
  padding: 10px;
  width: 200px;
  outline: none;
  color: black;
}
